.header {
    height: 60px;
    background-color: #131921;
    display: flex;
    align-items: center;
    position: sticky;
    top:0;
    z-index: 100;
}

.header-logo {
    width: 100px;
    margin-left: 20px;
    object-fit: contain;
    margin-right: 20px;
    margin-top: 18px;
}

.header-nav {
    display: flex;
    justify-content: space-evenly;
}


.header-option {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    margin-right: 5px;
    color: white;
}

.header-link {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.header-option1 {
    font-size: 11px;
    font-weight: 600;
    font-family: Arial, sans-serif;
   
}

.header-option2 {
    font-size: 11px;
    font-weight: 600;
    font-family: Arial, sans-serif;

}

.search {
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 24px;
}

.All{
    height: 26.2px;
    width:50px;
    padding: 0px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 2px 0 0 2px;
}

.searchIcon {
    padding: 6px;
    height: 17px !important;
    background-color: #fcba03;
    font-size: 2.2rem !important;
    padding: 4px;
    border-radius: 0 5px 5px 0;
}
.searchInput  {
    height: 13px;
    padding: 6.2px;
    border: none;
    width:600px;
}

.searchInput :focus {
    border-color: lightsalmon;
}

.header-basket {
    display: flex;
    align-items: center;
}

.basket-count {
    margin-left: 10px;
    margin-right: 10px;
}
